.form-control{
    margin: 1rem;
    width: 100%;
    text-align: end;

    & > label{
        margin-right: 0.5rem;
    }

    & > input[type="email"], & > input[type="password"]{
        height: 1.25rem;
        width: 70%;
    }

    & > input[type="checkbox"]{
        margin-right: 2rem;
    }
}